*.iml
.gradle
/local.properties
.idea/*
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
composeApp/build/classes
composeApp/build/compileSync
composeApp/build/compose
composeApp/build/generated
composeApp/build/intermediates
composeApp/build/kotlin
composeApp/build/kotlin-multiplatform-resources
composeApp/build/kotlin-webpack
composeApp/build/outputs
composeApp/build/processedResources
composeApp/build/tmp
kotlin-js-store/yarn.lock
